USE [master]
GO
/****** Object:  Database [UniversityGradesDB]    Script Date: 2/1/2026 4:00:44 πμ ******/
CREATE DATABASE [UniversityGradesDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'UniversityGradesDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS01\MSSQL\DATA\UniversityGradesDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'UniversityGradesDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS01\MSSQL\DATA\UniversityGradesDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [UniversityGradesDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [UniversityGradesDB]
GO
/****** Object:  Table [dbo].[Course]    Script Date: 2/1/2026 4:00:44 πμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Course](
	[idCOURSE] [int] IDENTITY(1,1) NOT NULL,
	[CourseTitle] [varchar](60) NOT NULL,
	[CourseSemester] [varchar](25) NOT NULL,
	[PROFESSORS_AFM] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[idCOURSE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Course_has_Students]    Script Date: 2/1/2026 4:00:44 πμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Course_has_Students](
	[COURSE_idCOURSE] [int] NOT NULL,
	[STUDENTS_RegistrationNumber] [int] NOT NULL,
	[GradeCourseStudent] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[COURSE_idCOURSE] ASC,
	[STUDENTS_RegistrationNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Professors]    Script Date: 2/1/2026 4:00:44 πμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Professors](
	[AFM] [int] NOT NULL,
	[Name] [varchar](45) NOT NULL,
	[Surname] [varchar](45) NOT NULL,
	[Department] [varchar](45) NOT NULL,
	[USERS_username] [varchar](45) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AFM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Secretaries]    Script Date: 2/1/2026 4:00:44 πμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Secretaries](
	[Phonenumber] [int] NOT NULL,
	[Name] [varchar](45) NOT NULL,
	[Surname] [varchar](45) NOT NULL,
	[Department] [varchar](45) NOT NULL,
	[USERS_username] [varchar](45) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Phonenumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Students]    Script Date: 2/1/2026 4:00:44 πμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Students](
	[RegistrationNumber] [int] NOT NULL,
	[Name] [varchar](45) NOT NULL,
	[Surname] [varchar](45) NOT NULL,
	[Department] [varchar](45) NOT NULL,
	[USERS_username] [varchar](45) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RegistrationNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 2/1/2026 4:00:44 πμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[username] [varchar](45) NOT NULL,
	[password] [varchar](100) NOT NULL,
	[role] [varchar](45) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Course] ON 

INSERT [dbo].[Course] ([idCOURSE], [CourseTitle], [CourseSemester], [PROFESSORS_AFM]) VALUES (2, N'Τεχνολογίες Διαδικτύου', N'1', 10001)
INSERT [dbo].[Course] ([idCOURSE], [CourseTitle], [CourseSemester], [PROFESSORS_AFM]) VALUES (3, N'Δίκτυα Υπολογιστών', N'4', 10001)
INSERT [dbo].[Course] ([idCOURSE], [CourseTitle], [CourseSemester], [PROFESSORS_AFM]) VALUES (6, N'Ανάλυση Ι', N'1', 10002)
SET IDENTITY_INSERT [dbo].[Course] OFF
GO
INSERT [dbo].[Course_has_Students] ([COURSE_idCOURSE], [STUDENTS_RegistrationNumber], [GradeCourseStudent]) VALUES (2, 22001, 9)
INSERT [dbo].[Course_has_Students] ([COURSE_idCOURSE], [STUDENTS_RegistrationNumber], [GradeCourseStudent]) VALUES (2, 22002, NULL)
INSERT [dbo].[Course_has_Students] ([COURSE_idCOURSE], [STUDENTS_RegistrationNumber], [GradeCourseStudent]) VALUES (2, 22003, 4)
GO
INSERT [dbo].[Professors] ([AFM], [Name], [Surname], [Department], [USERS_username]) VALUES (10001, N'Ιωάννης', N'Παπαδημητρίου', N'Πληροφορική', N'prof1')
INSERT [dbo].[Professors] ([AFM], [Name], [Surname], [Department], [USERS_username]) VALUES (10002, N'Σπυριδούλα', N'Χιωτάκη', N'Μαθηματικά', N'prof2')
GO
INSERT [dbo].[Secretaries] ([Phonenumber], [Name], [Surname], [Department], [USERS_username]) VALUES (1, N'Μαρία ', N'Ευαγγελιάδου', N'Πληροφορική', N'secr1')
INSERT [dbo].[Secretaries] ([Phonenumber], [Name], [Surname], [Department], [USERS_username]) VALUES (2147483647, N'Νικόλαος', N'Αθανασίου', N'Μαθηματικά', N'secr2')
GO
INSERT [dbo].[Students] ([RegistrationNumber], [Name], [Surname], [Department], [USERS_username]) VALUES (22001, N'Δημήτριος Σπυρίδων', N'Πιστικός', N'Πληροφορική', N'student1')
INSERT [dbo].[Students] ([RegistrationNumber], [Name], [Surname], [Department], [USERS_username]) VALUES (22002, N'Μαρία', N'Παπαδοπούλου', N'Πληροφορική', N'student2')
INSERT [dbo].[Students] ([RegistrationNumber], [Name], [Surname], [Department], [USERS_username]) VALUES (22003, N'Γεώργιος', N'Βασιλείου', N'Μαθηματικά', N'student3')
GO
INSERT [dbo].[Users] ([username], [password], [role]) VALUES (N'Admin1', N'Admin1', N'Admin')
INSERT [dbo].[Users] ([username], [password], [role]) VALUES (N'prof1', N'prof1', N'Professor')
INSERT [dbo].[Users] ([username], [password], [role]) VALUES (N'prof2', N'prof2', N'Professor')
GO
ALTER TABLE [dbo].[Course]  WITH CHECK ADD  CONSTRAINT [FK_Course_Professors] FOREIGN KEY([PROFESSORS_AFM])
REFERENCES [dbo].[Professors] ([AFM])
GO
ALTER TABLE [dbo].[Course] CHECK CONSTRAINT [FK_Course_Professors]
GO
ALTER TABLE [dbo].[Course_has_Students]  WITH CHECK ADD  CONSTRAINT [FK_ChS_Course] FOREIGN KEY([COURSE_idCOURSE])
REFERENCES [dbo].[Course] ([idCOURSE])
GO
ALTER TABLE [dbo].[Course_has_Students] CHECK CONSTRAINT [FK_ChS_Course]
GO
ALTER TABLE [dbo].[Course_has_Students]  WITH CHECK ADD  CONSTRAINT [FK_ChS_Students] FOREIGN KEY([STUDENTS_RegistrationNumber])
REFERENCES [dbo].[Students] ([RegistrationNumber])
GO
ALTER TABLE [dbo].[Course_has_Students] CHECK CONSTRAINT [FK_ChS_Students]
GO
ALTER TABLE [dbo].[Professors]  WITH CHECK ADD  CONSTRAINT [FK_Professors_Users] FOREIGN KEY([USERS_username])
REFERENCES [dbo].[Users] ([username])
GO
ALTER TABLE [dbo].[Professors] CHECK CONSTRAINT [FK_Professors_Users]
GO
ALTER TABLE [dbo].[Secretaries]  WITH CHECK ADD  CONSTRAINT [FK_Secretaries_Users] FOREIGN KEY([USERS_username])
REFERENCES [dbo].[Users] ([username])
GO
ALTER TABLE [dbo].[Secretaries] CHECK CONSTRAINT [FK_Secretaries_Users]
GO
ALTER TABLE [dbo].[Students]  WITH CHECK ADD  CONSTRAINT [FK_Students_Users] FOREIGN KEY([USERS_username])
REFERENCES [dbo].[Users] ([username])
GO
ALTER TABLE [dbo].[Students] CHECK CONSTRAINT [FK_Students_Users]
GO
USE [master]
GO
